
<header>
    <nav >
      <ul class="nav nav-tabs">
        
         <li class="nav-item"><a class="nav-link" routerLinkActive="active"  routerLink="item-master">ItemMaster</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="booking-registor/">Bookingregistor</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="customer-details/">customerDetails</a></li> 
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="transaction-details/">transactionDetails</a></li> 
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="quotation-master/">quotationMaster</a></li> 
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="sales-master/">salesMaster</a></li> 
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="sales-transaction/">salesTransaction</a></li> 


  
      </ul>
    </nav>
  </header> 
   <router-outlet></router-outlet> 
