.main{
    height: calc(100% - 4rem);
    margin-left: 270px;
    margin-top: 100px;
    margin-right: 200px;
    border: 2px solid blue;
    border-radius: 5px;
}
.outer{
    margin-left: 50px;
    /* margin-right: 200px; */
    /* padding-right: 100px; */
}
h3{
    text-align: center;
    color: rgb(194, 24, 66);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content{
    margin-left: 50px;
    margin-right: 50px;
}
button{
    margin-left: 300px;
    margin-top: 19px;
}
#income{
    margin-bottom: 10px;
}
#division,#sID{
    margin-bottom: 10px;
}
label{
    color: blue;
    font-weight: bold;
}
#id1{
    background-color: rgb(116, 108, 108);
}