<div class="abc">
  <form>
    <div class="outer">
      <div class="content">
        <h3>Enquiry And Admission Form</h3>

        <div class="form-row">

          <div class="form-group col-md-6">
            <label for="inputSection">Section</label>
            <select id="inputSection" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>

        </div>

        <div class="row">

          <div class="form-group col-md-4">
            <label for="inputEmail4">First Name</label>
            <input type="text" class="form-control" id="fName" placeholder="First Name">
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4">Last Name</label>
            <input type="text" class="form-control" id="lName" placeholder="Last Name">
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4">Middle Name</label>
            <input type="text" class="form-control" id="mName" placeholder="Middle Name">
          </div>

          <div class="row">

            <div class="form-group col-md-3 ">
              <label for="inputState">Gender</label>
              <select id="gender" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group col-md-3 ">
              <label for="inputCity">DOB</label>
              <input type="date" class="form-control" id="dob">
            </div>
            <div class="form-group col-md-3 ">
              <label for="inputZip">Age</label>
              <input type="text" class="form-control" id="age">
            </div>
            <div class="form-group col-md-3 ">
              <label for="inputZip">Class</label>
              <input type="text" class="form-control" id="cls">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6 ">
            <label for="inputZip">Birth Place</label>
            <input type="text" class="form-control" id="birthP">
          </div>
          <div class="form-group col-md-6 ">
            <label for="inputZip">Nationality</label>
            <input type="text" class="form-control" id="nation">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6 ">
            <label for="inputZip">Mother Tongue</label>
            <input type="text" class="form-control" id="motherT">
          </div>
          <div class="form-group col-md-6 ">
            <label for="inputZip">Religion</label>
            <input type="text" class="form-control" id="religion">
          </div>
        </div>


        <div class="row">
          <div class="form-group col-md-6 ">
            <label for="inputState">Cast</label>
            <select id="cast" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-6 ">
            <label for="inputState">Sub-Cast</label>
            <select id="subCast" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6 ">
            <label for="inputState">Category</label>
            <select id="gender" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-6 ">
            <label for="inputZip">Religion</label>
            <input type="text" class="form-control" id="religion">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-3 ">
            <label for="inputState">Bus</label>
            <select id="bus" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="inputState">Teacher Relative</label>
            <select id="teacher" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-1 mp-2">
            <button type="submit mb-3" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
    <div>
    </div>
  </form>
</div>