
<div class="container" *ngIf="branchFormHide">
  <div class="row justify-content-center">
      <div class="col-md-6 text-left rounded shadow py-5" style="background-color: transparent;">
          <!-- <div class="main">  -->

          <legend style="text-align: center;">Organization Register</legend>
          <br>

               <form (ngSubmit)="onSubmit(branchForm.value)" [formGroup]="branchForm">



                <div class="row"> 
                    <div class="form-group"  class="col-md-6" >
                     <label for="userID">userID</label>
                     <input type="text" placeholder="enter last name" name="userID" class="form-control"
                         formControlName="userID">
                     </div>
   
                 <div class="form-group"  class="col-md-6">
                     <label for="organizationID">organizationID</label>
                     <input type="email" class="form-control" placeholder="enter email" name="organizationID"
                         formControlName="organizationID">
                     </div>
                 </div>

                 <div class="row"> 
                 <div class="form-group"  class="col-md-6" >
                  <label for="branchName">branchName</label>
                  <input type="text" placeholder="enter last name" name="branchName" class="form-control"
                      formControlName="branchName">
                  </div>

              <div class="form-group"  class="col-md-6">
                  <label for="branchEmail">Email</label>
                  <input type="email" class="form-control" placeholder="enter email" name="branchEmail"
                      formControlName="branchEmail">
                  </div>
              </div>
              <div class="row"> 

              <div class="form-group" class="col-md-6">
                  <label for="isActive">is_Active</label>
                  <input type="text" class="form-control" placeholder="enter phone number" name="isActive"
                      formControlName="isActive">
                  </div>

              <div class="form-group" class="col-md-6">
                  <label for="createdBy">created_By</label>
                  <input type="text" placeholder="enter Company name" name="createdBy" class="form-control"
                      formControlName="createdBy">
                   </div>
              </div>
              <div class="row">
              <div class="form-group" class="col-md-6">
                  <label for="createdDate">created_Date</label>
                  <input type="date" placeholder="enter Company name" name="createdDate" class="form-control"
                      formControlName="createdDate">
                  
              </div>
              <div class="form-group" class="col-md-6">
                  <label for="updateDate">update_Date</label>
                  <input type="date" placeholder="enter Company name" name="updateDate" class="form-control"
                      formControlName="updateDate">
                   </div>
              </div>
              <div class="row">
                  <div class="form-group" class="col-md-6">
                  <label for="branchID">branch_ID</label>
                  <input type="number" name="branchID" placeholder="enter password" class="form-control"
                      formControlName="branchID">
                 </div>
              </div>
                 <button class="btn btn-primary mt-4"  style="margin-left: 290px;">Submit</button>&nbsp;
          </form>
      </div>
  </div> 
<!-- </div> -->
</div><br>

<!-- ------------------------------------Table------------------------------------------- -->
<div class="main">  <h3 *ngIf="titleHide">Branch_table </h3>
  <br/>
  <!-- <div> -->
    <div *ngIf="titleHide" style="font-weight: bold;font-size: large;">{{titleName}}
<!-- <button type="submit"  *ngIf="branchAddBtn" class="btn btn-primary" (click)="toggleTable()">Add+</button> -->
<button type="submit"  *ngIf="branchAddBtn" class="btn btn-primary" (click)="toggleAddBtn();titleToggle()">Add+</button>

  </div>
  <br/>
<table class="table table-striped mt-2" *ngIf="branchLogHide">
  <thead>
      <tr class="table-primary">
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
          <th scope="col">Branch_ID</th>
          <th scope="col">UserID</th>

          <th scope="col">Organization_ID</th>
          <th scope="col">BranchName</th>
          <th scope="col">BranchEmail</th>
          <th scope="col">Is_Active</th>
          <th scope="col">Created_By</th>
          <th scope="col">Created_Date</th>
          <th scope="col">Update_Date</th>
         

   </tr>
  </thead>
  <tbody>
      <tr *ngFor="let p of getBranchArray">

          <td><a class="text-primary"  (click)="updateFormToggle();onEdit(p)"><i class="fa-solid fa-file-pen fa-lg"></i></a></td>
          <td ><a class="text-danger" ><i class="fa-sharp fa-solid fa-trash fa-lg"></i></a></td>
          <td>{{p.branchID}}</td>
          <td>{{p.userID}}</td>
          <td>{{p.organizationID}}</td>
          <td>{{p.branchName}}</td>
          <td>{{p.branchEmail}}</td>
          <td>{{p.isActive}}</td>
          <td>{{p.createdBy}}</td>
         <td>{{p.createdDate}}</td>
          <td>{{p.updateDate}}</td>
           
      </tr>
  </tbody>
</table> 
</div>
<!-- ---------------------------------------update Form----------------------------------- -->



<div class="container" *ngIf="branchUpdateFormHide">
  <div class="row justify-content-center">
      <div class="col-md-6 text-left rounded shadow py-5" style="background-color: transparent;">
          <!-- <div class="main">  -->

          <legend style="text-align: center;">Branch Update</legend>
          <br>

                <form    (ngSubmit)="UpdateBranchDetails(branchUpdateForm.value)" [formGroup]="branchUpdateForm">
                  
                  <div >

                 <div class="row"> 
                 <div class="form-group"  class="col-md-6" >
                  <label for="branchName">branchName</label>
                  <input type="text" placeholder="enter last name"   name="branchName" class="form-control"
                      formControlName="branchName">
                  </div>

              <div class="form-group"  class="col-md-6">
                  <label for="branchEmail">Email</label>
                  <input type="email" class="form-control" placeholder="enter email" name="branchEmail"
                      formControlName="branchEmail">
                  </div>
              </div>

              
              <div class="row"> 
                <div class="form-group"  class="col-md-6" >
                 <label for="userID">userID</label>
                 <input type="text" placeholder="enter last name" name="userID" class="form-control"
                     formControlName="userID">
                 </div>

             <div class="form-group"  class="col-md-6">
                 <label for="organizationID">organizationID</label>
                 <input type="email" class="form-control" placeholder="enter email" name="organizationID"
                     formControlName="organizationID">
                 </div>
             </div>
              <div class="row"> 

              <div class="form-group" class="col-md-6">
                  <label for="isActive">is_Active</label>
                  <input type="text" class="form-control" placeholder="enter phone number" name="isActive"
                      formControlName="isActive">
                  </div>

              <div class="form-group" class="col-md-6">
                  <label for="createdBy">createdBy</label>
                  <input type="text" placeholder="enter Company name" name="createdBy" class="form-control"
                      formControlName="createdBy">
                   </div>
              </div>
              <div class="row">
              <div class="form-group" class="col-md-6">
                  <label for="createdDate">createdDate</label>
                  <input type="date" placeholder="enter Company name" name="createdDate" class="form-control"
                      formControlName="createdDate">
                  
              </div>
              <div class="form-group" class="col-md-6">
                  <label for="updateDate">updateDate</label>
                  <input type="date" placeholder="enter Company name" name="updateDate" class="form-control"
                      formControlName="updateDate">
                   </div>
              </div>
              <!-- <div class="row">
                  <div class="form-group" class="col-md-6">
                  <label for="branchID">branch_ID</label>
                  <input type="number" name="branchID" placeholder="enter password" class="form-control"
                      formControlName="branchID">
                 </div>
              </div> -->
                 <button class="btn btn-primary mt-4"  style="margin-left: 290px;">Update</button>&nbsp;
              </div>
          </form>
      </div>
  </div> 
</div>
