<div class="side-nav-content">
    <ul class="nav-list" [ngClass]="{'nav-list-open':sideNavStatus}">
        <!-- <li class="nav-list-item "  *ngFor="let item of list">

            <i class="{{item.icon}}"></i>
            <span>
                <a href="#">{{item.name}}</a>
            </span>

        </li> -->

        <li class="nav-list-item " >
             <i class="fa-solid fa-bars"></i>
            <span>
                <a routerLink="dashboard/">dashBoard</a>
            </span>
        </li> 
        <li class="nav-list-item " >
            <i class="fa-solid fa-house"></i>
           <span>
               <a routerLink="home/">home</a>
           </span>
       </li> 
       <li class="nav-list-item " >
        <i class="fa-solid fa-address-card"></i>
       <span>
           <a routerLink="registration/">registration</a>
       </span>
   </li> 
   <li class="nav-list-item " >
    <i class="fa-solid fa-sitemap fa-xl"></i>
    <span>
<a routerLink="organization/">organization</a>
   </span>
</li> 
<li class="nav-list-item " >
    <i class="fa-solid fa-code-branch"></i>
   <span>
       <a routerLink="branch/">branch</a>
   </span>
</li> 
<li class="nav-list-item " >
    <i class="fa-solid fa-users"></i>
   <span>
       <a routerLink="user/">user</a>
   </span>
</li> 

<li class="nav-list-item">
    <!-- <i class="fa-solid fa-shelves fa-lg"></i> -->
    <i class="fa-solid fa-sitemap fa-xl"></i>
   <span>

    <li class="nav-item dropdown">
        <a   class="nav-link dropdown-toggle" routerLink="inventory/" role="button" 
        data-bs-toggle="dropdown">Inventory</a>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" routerLink="item-master/">ItemMaster</a></li>
            <li><a class="dropdown-item" routerLink="booking-registor/">Bookingregistor</a></li>
            <li><a class="dropdown-item" routerLink="customer-details/"> customerDetails</a></li>
            <li><a class="dropdown-item" routerLink="transaction-details/">transactionDetails</a></li>
            <li><a class="dropdown-item" routerLink="quotation-master/">quotation-master</a></li>
            <li><a class="dropdown-item" routerLink="sales-master/">sales-master</a></li>
            <li><a class="dropdown-item" routerLink="sales-transaction/">sales-transaction</a></li>

          </ul>
         </li>
<!-- <a routerLink="inventory/">Inventory</a> -->
       </span>
    </li> 
 </ul>
</div>
