<div class="boby">
  <!-- <img src="../../assets/s1.jpeg"> -->
<div class="container mt-4" >
    <div class="card">
        <h1>Student Registration</h1>
  <form>
    <div class="form-group">
      <label>Name</label>
      <input type="text" [(ngModel)]="studentname" [ngModelOptions]="{standalone: true}"  
      class="form-control" id="name" class="form-control"
      required 
      #name="ngModel" placeholder="Enter Name">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" 
        class="form-control" id="email"  placeholder="Enter Email">
      </div>
      <div class="form-group">
        <label>Paaword</label>
        <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"
         class="form-control" id="password" class="form-control" placeholder="Enter Password">
      </div><br>
     <button type="submit" class="btn btn-primary" (click)="save()">Register</button>
  </form>
  </div>
  </div>
</div>
  <router-outlet></router-outlet>
