.abc{    
    margin-top: 150px;
    margin-left: 150;
}
.leftside,.rightside,img{
    height:100vh;
    width: 100%;
}
.leftside{
    background-color: blueviolet;
}
.rightside{
    background-color: rgb(211, 239, 84);

}
.container{

padding-top: 200px;    
margin-left: 20px;
padding-right: 50px;
}
label{
    font-weight: bold;
}
.card,input{
    border: 1px solid black;
    border-radius: 5px;
}
/* label,input{
    margin-left:  10px;
    margin-right: 10px;
} */
.card{
    padding-left: 10px;
    padding-right: 10px;
}
button{
    margin-left: 270px;
    margin-bottom: 5px;
}
h1{
    color: blue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 150px;
}