    <div class="container" *ngIf="FormHide">

        <div class="row justify-content-center">
            <div class="col-md-6 text-left rounded shadow py-5" style="background-color: transparent;">
                <legend style="text-align: center;">quotation Form</legend>
                <br>
    
                <form (ngSubmit)="onSubmit(addForm.value)" [formGroup]="addForm">
                    <div class="row">
                        <div class="form-group" class="col-md-6">
                            <label for="custId">custId</label>
                            <input type="number" placeholder="enter last name" name="custId" class="form-control"
                                formControlName="custId">
                        </div>
    
                        <div class="form-group" class="col-md-6">
                            <label for="invNo">invNo</label>
                            <input type="number" class="form-control" placeholder="enter " name="invNo"
                                formControlName="invNo">
                        </div>
                    </div>
                    <div class="row">
    
                        <div class="form-group" class="col-md-6">
                            <label for="invDate">invDate</label>
                            <input type="date" class="form-control" placeholder="enter " name="invDate"
                                formControlName="invDate">
                        </div>
    
                        <div class="form-group" class="col-md-6">
                            <label for="prBal">prBal</label>
                            <input type="number" placeholder="enter num2" name="prBal" class="form-control"
                                formControlName="prBal">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" class="col-md-6">
                            <label for="trBal">trBal</label>
                            <input type="text" placeholder="enter Company name" name="trBal" class="form-control"
                                formControlName="trBal">
    
                        </div>
                        <div class="form-group" class="col-md-6">
                            <label for="ttlBal">ttlBal</label>
                            <input type="text" placeholder="enter Company name" name="ttlBal" class="form-control"
                                formControlName="ttlBal">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" class="col-md-6">
                            <label for="num1">num1</label>
                            <input type="number" name="num1" placeholder="enter " class="form-control"
                                formControlName="num1">
                        </div>
                        <div class="form-group" class="col-md-6">
                            <label for="num2">num2</label>
                            <input type="number" name="num2" placeholder="enter " class="form-control"
                                formControlName="num2">
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="form-group" class="col-md-6">
                            <label for="char1">char1</label>
                            <input type="number" name="char1" placeholder="enter " class="form-control"
                                formControlName="char1">
                        </div>
                        <div class="form-group" class="col-md-6">
                            <label for="char2">char2</label>
                            <input type="number" name="char2" placeholder="enter " class="form-control" formControlName="char2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" class="col-md-6">
                            <label for="tranType">tranType</label>
                            <input type="string" name="tranType" placeholder="enter " class="form-control"
                                formControlName="tranType">
                        </div>
                        <div class="form-group" class="col-md-6">
                            <label for="forBillNo">forBillNo</label>
                            <input type="number" name="forBillNo" placeholder="enter " class="form-control"
                                formControlName="forBillNo">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" class="col-md-6">
                            <label for="userId">userId</label>
                            <input type="number" name="userId" placeholder="enter " class="form-control"
                                formControlName="userId">
                        </div>
                        <div class="form-group" class="col-md-6">
                            <label for="brId">brId</label>
                            <input type="number" name="brId" placeholder="enter " class="form-control"
                                formControlName="brId">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" class="col-md-6">
                            <label for="orgId">orgId</label>
                            <input type="number" name="orgId" placeholder="enter " class="form-control" formControlName="orgId">
                        </div>
                        </div>
    
                    <button class="btn btn-primary mt-4" style="margin-left: 290px;">Submit</button>&nbsp;
                </form>
            </div>
        </div>
    </div><br>
    <!-- --------------------------------------------------Table------------------------------------------------- -->
    <div class="main">
        <br />
        <div *ngIf="titleHide" style="font-weight: bold;font-size: large;">{{titleName}}
            <button type="submit" *ngIf="AddBtn" class="btn btn-primary"
                (click)="toggleAddBtn();titleToggle()">Add+</button>
        </div>
        <br />
        <table class="table table-striped" *ngIf="LogHide">
    
            <thead>
                <tr class="table-info">
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    <th scope="col">srNo</th>
                    <th scope="col">custId</th>
                    <th scope="col">invNo</th>
                    <th scope="col">invDate</th>
                    <th scope="col">prBal</th>
                    <th scope="col">trBal</th>
                    <th scope="col">num1</th>
                    <th scope="col">num2</th>
                    <th scope="col">char1</th>
                    <th scope="col">char2</th>
                    <th scope="col">tranType</th>
                    <th scope="col">forBillNo</th>
                    <th scope="col">userId</th>
                    <th scope="col">brId</th>
                    <th scope="col">orgId</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let q of getAllArray">
                    <td><a class="text-primary" (click)="updateFormToggle();titleToggle();edit(q)"><i
                                class="fa-solid fa-file-pen fa-lg"></i></a></td>
                    <td><a class="text-danger"><i class="fa-sharp fa-solid fa-trash fa-lg"></i></a></td>
                    <td>{{q.srNo}}</td>
                    <td>{{q.custId}}</td>
                    <td>{{q.invNo}}</td>
                    <td>{{q.invDate}}</td>
                    <td>{{q.prBal}}</td>
                    <td>{{q.trBal}}</td>
                    <td>{{q.num1}}</td>
                    <td>{{q.num2}}</td>
                    <td>{{q.char1}}</td>
                    <td>{{q.char2}}</td>
                    <td>{{q.tranType}}</td>
                    <td>{{q.forBillNo}}</td>
                    <td>{{q.userId}}</td>
                    <td>{{q.brId}}</td>
                    <td>{{q.orgId}}</td>
                </tr>
            </tbody>
        </table>

         <!-- ------------------------------------Update------------------------------------ -->
    <div class="container" *ngIf="UpdateFormHide">

        <div class="row justify-content-center">
            <div class="col-md-6 text-left rounded shadow py-5" style="background-color: transparent;">
                <legend style="text-align: center;">update Form</legend>
                <br>

                <form (ngSubmit)="update()" [formGroup]="updateForm">
                    <div class="row">
                        <div class="form-group" class="col-md-6">
                            <label for="custId">custId</label>
                            <input type="number" [(ngModel)]="addObject.custId" placeholder="enter last name"
                                name="custId" class="form-control" formControlName="custId">
                        </div>

                        <div class="form-group" class="col-md-6">
                            <label for="invNo">invNo</label>
                            <input type="number" [(ngModel)]="addObject.invNo" class="form-control"
                                placeholder="enter name" name="invNo" formControlName="invNo">
                        </div>
                    </div>
                    <!--  -->
                    <div class="row">
                       <div class="form-group" class="col-md-6">
                            <label for="invDate">invDate</label>
                            <input type="date" [(ngModel)]="addObject.invDate" class="form-control"
                                placeholder="enter phone number" name="invDate" formControlName="invDate">
                        </div>

                        <div class="form-group" class="col-md-6">
                            <label for="prBal">prBal</label>
                            <input type="number" [(ngModel)]="addObject.prBal" placeholder="enter quantity"
                                name="prBal" class="form-control" formControlName="prBal">
                        </div>
                    </div>
                    <!-- ------- -->
                    <div class="row">
                        <div class="form-group" class="col-md-6">
                            <label for="trBal">trBal</label>
                            <input type="text" [(ngModel)]="addObject.trBal" placeholder="enter " name="trBal"
                                class="form-control" formControlName="trBal">

                        </div>
                        <div class="form-group" class="col-md-6">
                            <label for="ttlBal">ttlBal</label>
                            <input type="text" [(ngModel)]="addObject.ttlBal" placeholder="enter " name="ttlBal"
                                class="form-control" formControlName="ttlBal">
                        </div>
                    </div>
                    <!--  -->
                    <div class="row">
                        <div class="form-group" class="col-md-6">
                            <label for="num1">num1</label>
                            <input type="number" [(ngModel)]="addObject.num1" name="num1" placeholder="enter "
                                class="form-control" formControlName="num1">
                        </div>
                        <div class="form-group" class="col-md-6">
                            <label for="num2">num2</label>
                            <input type="number" [(ngModel)]="addObject.num2" name="num2" placeholder="enter "
                                class="form-control" formControlName="num2">
                        </div>
                           
                    </div>
                    <!--  -->

                    
                        <div class="row">

                        <div class="form-group" class="col-md-6">
                            <label for="char1">char1</label>
                            <input type="number" [(ngModel)]="addObject.char1" name="char1" placeholder="enter "
                                class="form-control" formControlName="char1">
                        </div>

                        <!-- <div class="row"> -->
                            <div class="form-group" class="col-md-6">
                                <label for="char2">char2</label>
                                <input type="number" [(ngModel)]="addObject.char2" name="char2" placeholder="enter "
                                    class="form-control" formControlName="char2">
                            </div>
                    </div>
                   
                    <div class="row">

                        <div class="form-group" class="col-md-6">
                            <label for="forBillNo">forBillNo</label>
                            <input type="number" [(ngModel)]="addObject.forBillNo" name="forBillNo" placeholder="enter "
                                class="form-control" formControlName="forBillNo">
                        </div>
                        <div class="form-group" class="col-md-6">
                            <label for="orgId">orgId</label>
                            <input type="number" [(ngModel)]="addObject.orgId" name="orgId" placeholder="enter "
                                class="form-control" formControlName="orgId">
                        </div>
                    </div>
                  


                    <div class="row">
                        <div class="form-group" class="col-md-6">
                            <label for="userId">userId</label>
                            <input type="number" [(ngModel)]="addObject.userId" name="userId" placeholder="enter "
                                class="form-control" formControlName="userId">
                        </div>
                        <div class="form-group" class="col-md-6">
                            <label for="brId">brId</label>
                            <input type="number" [(ngModel)]="addObject.brId" name="brId" placeholder="enter "
                                class="form-control" formControlName="brId">
                        </div>
                    </div>
                    
                    <button class="btn btn-primary mt-4" style="margin-left: 290px;">Update</button>&nbsp;
                </form>
            </div>
        </div>
    </div><br>